# OS files #
############
._*
*.DS_Store
Thumbs.db

# Visual studio user files #
############################
*.suo
*.user
*.vsmdi
*.testsettings
*.testrunconfig
UpgradeLog*
_UpgradeReport_Files

# Compiled files #
##################
bin
obj
testresults
*.log